/* Resets margins and padding */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Global font style */
body {
  font-family: Arial, sans-serif;
  padding-top: 60px; /* Adjust based on your header's height */
}

section {
  min-height: 100vh; /* 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack content vertically */
  scroll-snap-align: start; /* Optional: for smooth snapping when scrolling */
}


/* Sticky header style */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  /* Add more styles as needed (e.g., padding, box-shadow) */
}

html {
  scroll-behavior: smooth;
}
